#slider {
	width: 100%;
	height: 495px;
	list-style: none;
	overflow-y: auto;
	overflow-x: hidden;
}
.anythingSlider-default {
	margin: 0 auto;
}
.anythingSlider-default .anythingControls {
	outline: 0;
	align:center;
	display: none;
	background: #000;
}
.anythingSlider-default .anythingControls ul {
	margin: 0 auto;
	width: 100%;
}
.anythingSlider-default .anythingControls ul li {
  display: inline-block;
  border-right: solid 1px #5a5a5a;
  margin: 15px 0;
  padding: 0 30px;
}
.anythingSlider-default .anythingControls ul li.last {
	margin: 0;
	border:none;
}
.anythingSlider-default .anythingControls ul a {
	font: 400 20px "Open Sans", sans-serif;
	color: #fff;
	padding: 20px 0 0px;
	display: inline-block;
	text-decoration: none;
	margin-top:-23px;
	position:relative;
	opacity:0.5;
}
.anythingSlider-default .anythingControls ul a.cur{
	background:url(../images/active-slider.png) no-repeat center 0;
	opacity:1;
	}
.anythingSlider {
	display: block;
	overflow: visible !important;
	position: relative;
}
.anythingSlider .anythingWindow {
	overflow: hidden;
	position: relative;
	width: 100%;
	height: 100%;
}
.anythingSlider .anythingBase {
	background: transparent;
	list-style: none;
	position: absolute;
	overflow: visible !important;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
}
.anythingSlider .panel {
	display: block;
	overflow: hidden;
	float: left;
	padding: 0;
	margin: 0;
}
.masthead .thumbNav { text-align: center;}
.masthead .thumbNav span{ display:inline-block; padding-left:35px; }
.masthead .thumbNav li a span{
  padding-bottom: 10px;
}
.masthead .thumbNav li a.panel1 span{
	padding-top:5px;
	background:url("../images/btnsld1.jpg") no-repeat scroll ;
	background-size:30px;
	}
.masthead .thumbNav li a.panel2 span{
	padding-top:5px;
	background:url("../images/btnsld2.jpg") no-repeat scroll 0 2px;
	background-size:30px;
	}
.masthead .thumbNav li a.panel3 span{
	padding-top:5px;
	background:url("../images/btnsld3.jpg") no-repeat scroll 0 2px;
	background-size:30px;
	}
.masthead .thumbNav li a.panel4 span{
	padding-top:5px;
	background:url("../images/btnsld4.jpg") no-repeat scroll 0 2px;
	background-size:30px;
	}
.masthead .thumbNav li a.panel5 span{
	padding-top:5px;
	background:url("../images/btnsld5.jpg") no-repeat scroll 0 2px;
	background-size:30px;
	}
.masthead .thumbNav li a.panel6 span{
	padding-top:5px;
	background:url("../images/btnsld6.jpg") no-repeat scroll 0 2px;
	background-size:30px;
	}
