body,td,th {
	color: #FFF;
}
.nav li a:hover {
	color:#00aeef;
}
.domain_search_section
{
width:100%;
height:85px;
background-color:#111;
margin-bottom: -10px;
}
.new_banner
{
background: url("../images/new_domain_ban.png") no-repeat;
height: 55px;
width: 42px;
float: left;
font-weight: bold;
color: #fff;
padding: 13px 0px 0px 6px;
}
.data_holder
{
float: left;
margin-left: 30px;
margin-top: 25px;
}
.data_holder p
{
color: #fff;
float: left;
font: 400 19px/28px "Open Sans", sans-serif;
}
.data_holder p span
{
color: #fcd633;
font-weight: bold;
padding: 0px 5px;
}
.data_holder a
{
float: left;
margin-left: 30px;
padding: 7px 22px 1px 22px !important;
background-color: #519c00 !important;
background-image: -webkit-gradient(linear, 0 0, 0 100%, from(#519c00), color-stop(25%, #519c00), to(#519c00)) !important;
background-image: -webkit-linear-gradient(#519c00, #519c00 25%, #519c00) !important;
background-image: -moz-linear-gradient(top, #519c00, #519c00 25%, #519c00) !important;
background-image: -ms-linear-gradient(#519c00, #519c00 25%, #519c00) !important;
background-image: -o-linear-gradient(#519c00, #519c00 25%, #519c00) !important;
background-image: linear-gradient(#519c00, #519c00 25%, #519c00) !important;
}
.container
{
padding-left:0 !important;
padding-right:0 !important;
}
    .slider2 .host-promo-list .plan1:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 29px solid rgba(255, 84, 32, 0);
        border-left: 27px solid #293E51 !important;
        width: 0px;
        height: 0;
    }
    .slider2 .host-promo-list .plan2:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 29px solid rgba(255, 84, 32, 0);
        border-left: 27px solid #253648 !important;
        width: 0px;
        height: 0;
    }
    .slider2 .host-promo-list .plan3:before {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        border-bottom: 29px solid rgba(255, 84, 32, 0);
        border-left: 27px solid #27394D !important;
        width: 0px;
        height: 0;
    }
	.slider2 h2
    {
   font-size: 42px;
padding: 20px 0px 25px 0px;
margin-top: 5px;
text-align: center;
line-height: 45px;
    }
	.masthead .slider3 {
	background: url(../images/darkgray_bg.jpg) repeat-x center 0 #12A5DB;
	}
    .slider3 li
    {
        float: left;
        margin-right: 35px;
    }
 .slider3 h2
    {
   font-size: 42px;
padding: 25px 0px 30px 0px;
margin-top: 15px;
text-align: center;
line-height: 45px;
    }
.slider3 h2 strong
{
font-size: 62px;
display: inline;
position: relative;
left: 0px;
opacity: 1;
}
	.masthead .slider4 {
	background: url(../images/bg-slider1.gif) repeat-x center 0 #12A5DB;
	}
    .slider4 li
    {
        float: left;
        margin-right: 35px;
    }
 .slider4 h2
    {
   font-size: 42px;
padding: 25px 0px 30px 0px;
margin-top: 15px;
text-align: center;
line-height: 45px;
    }
.slider4 h2 strong
{
font-size: 62px;
display: inline;
position: relative;
left: 0px;
opacity: 1;
}
	.masthead .slider5 {
	background: url(../images/bg-slider2.jpg) repeat-x center 0 #12A5DB;
	}
    .slider5 li
    {
        float: left;
        margin-right: 35px;
    }
 .slider5 h2
    {
padding: 25px 0px 30px 0px;
margin-top: 15px;
text-align: center;
line-height: 45px;
    }
.slider5 h2 strong
{
font-size: 62px;
display: inline;
position: relative;
left: 0px;
opacity: 1;
}
	.masthead .slider6 {
	background: url(../images/darkgray_bg.jpg) repeat-x center 0 #12A5DB;
	}
    .slider6 li
    {
        float: left;
        margin-right: 35px;
    }
 .slider6 h2
    {
   font-size: 42px;
padding: 25px 0px 30px 0px;
margin-top: 15px;
text-align: center;
line-height: 45px;
    }
.slider6 h2 strong
{
font-size: 62px;
display: inline;
position: relative;
left: 0px;
opacity: 1;
}

    .rc_program_list
    {
        list-style:none;
    }
    .rc_program_list .step1
    {
        height:250px;
        width: 98.2%;
        border:0px solid orange;
background: url('../images/slide1.png') 0 0 no-repeat transparent;
background-size:100%;
    }
    .rc_program_list .step2
    {
        height:300px;
        width:98.2%;
        border:0px solid red;
        background:url('../images/slide2.png') 0 0 no-repeat transparent;
    }
    .rc_program_list .step3
    {
        height:300px;
        width:98.2%;
        border:0px solid blue;
        background:url('../images/slide3.png') 0 0 no-repeat transparent;
    }
    .rc_program_list .step4
    {
        height:300px;
        width:98.2%;
        border:0px solid blueviolet;
        background:url('../images/slide4.png') 0 0 no-repeat transparent;
    }
    .rc_program_list .step5
    {
        height:300px;
        width:98.2%;
        border:0px solid blueviolet;
        background:url('../images/slide5.png') 0 0 no-repeat transparent;
    }
    .rc_program_list .step6
    {
        height:300px;
        width:98.2%;
        border:0px solid blueviolet;
        background:url('../images/slide6.png') 0 0 no-repeat transparent;
    }
    .ms_new_badge
    {
        background: url('../images/managed_servers_badge.png') 0 0 no-repeat transparent;
        width: 101px;
        height: 203px;
        position: absolute;
        right: 30px;
        top: -10px;  
    }
.rc-bg
{

height: 270px;
width: 430px;
position: absolute;
right: 0;
bottom: 100px;
z-index: -1;
}
.pre-footer-bg
{
 height: 125px;
background-color: #00aeef;
width: 100%;
font: 400 18px "Open Sans", sans-serif;
color: #fff;
}
.bold-font
{
font-weight:bold;
text-transform:uppercase;
}
.pre-footer-text
{
padding-top: 22px;
float: left;
}
.text-line-1
{
font-size:16px;
}
.text-line-2
{
font-size: 30px;
text-transform: uppercase;
font-weight: 100;
}
.pre-footer-bg-img
{
background: url("../images/pre-footer-men-bg.png") no-repeat;
height: 70px;
width: 140px;
float: right;
margin-top: 25px;
margin-right: 45px;
}

.btn-blu-longshadow{
	background: url('../images/btn-blue-signup.png') no-repeat;
	height: 56px;
	width: 280px;
	margin-top: 37px;
}
.btn-blu-longshadow:hover{
	background: url('../images/btn-blue-signup-hover.png') no-repeat;
}
    .foot_head_alt_2
    {
        margin-top:0px;
    }
    .foot_head_alt_2 .social_icons_bg
    {
        width: 235px;
        height: 50px;
        border: 0px solid #fff;
        background-color: #232323;
        border-radius: 30px;
        box-shadow: 0px 3px #202020 inset;
        padding-left: 5px;
    }
    .submit-result
    {
        font: 300 16px "Open Sans", sans-serif;
        color: #fdfdfd;
        float: left;
        padding: 13px 1px;
    }
    .progress_loader{}
    .sub-message-window1-offline
    {
        width: 100%;
        font: 300 14px/22px 'Open Sans', sans-serif;

        color: #bbb;
    }
    .btn_totop {
        width: 64px;
        height: 64px;
        background: url("../images/totop.png") no-repeat;
        opacity: .6;
        background-size: 48px;
        position: fixed;
        right: 5px;
        bottom: 5px;
    }
    .btn_totop:hover
    {
        float: right;
        width: 64px;
        height: 64px;
        cursor:pointer;
        opacity:1;
    }