@page :left {
  margin-left: 1cm;
}

@page :right {
  margin-left: 1cm;
}

.no-print { display:none; }
.page-break { display:block; page-break-before:always; }
.watermark { display:block; }
a { text-decoration:none; }

#pager,td.rows_action,th.action_menu_col,.footer_container,article.col2,#top-panel,form{display: none !important;}
article.col1{width: 100% !important}
footer,header{display:none !important;}
#BrowserPrintDefaults{display:none} 

