#header h2,#header h4{
	color:#FFF;
}
#main_content{
	min-height: 600px;
	width: 100%;
	overflow: hidden;
	/*padding-bottom: 30px;*/
}
#topmenu a,#topmenu a:visited{
	color:#f7f6f0;
	background:#bd3f09;
}
#topmenu a:hover{
	color: #FFF;
}
#topmenu .current a, #topmenu .current a:hover, #topmenu .current a:visited{
	color:#993400;
	background: #FFF url(../img/bg_menu_red.jpg) repeat-x top;
	border-left: #FFF 1px solid;
	border-right: #FFF 1px solid;
}
#top-panel{
	background:#FFF;
}
table{
	background:none;
}
td, th{
	border:1px solid #e8e7e1;
} 
thead{
	background:#f7f6f0;
}
#styleswitcher{
	background:#FFFFFF;
}
#footer{
	background:#FFF;
}
#box{
	border:1px solid #e8e7e1;
}
#box h3{
	background:#f7f6f0;
	border-bottom:1px solid #e8e7e1;
	color:#a43708;
}
/***************
	  Forms
***************/
/*
form.form fieldset {
	border:1px solid #e8e7e1;
	padding: 10px;
}
form.form legend {
	/*border:1px solid #e8e7e1;
	background:#fff url(../img/form_red.gif) repeat-x center left;
	color:#a43708;
	margin-left: 50px;
	* /
	margin-left: 50px;
	padding: 0px 10px;
}
form.form input {
	border:1px solid #e8e7e1;
	background:#fff url(../img/form_red.gif) repeat-x top left;
}
form.form textarea {
	border:1px solid #e8e7e1;
	background:#fff url(../img/form_red.gif) repeat-x bottom left;
}
form.form option {
	background:#FFF;
}
form.form optgroup {
	background:#e8e7e1;
}
form.form optgroup option {

}
form.form #button1, form.form #button2 {
	color:#c00;
}
form.form #button1:hover, form.form #button2:hover {
	color:#000;
}

.login_form label{
	display:block;
}

.login_form input{
	display:block;
	width: 100%;
}

.logo_header{
	margin-top:5px;
	margin-right:10px;
}
*/
.value_view{
	margin-bottom: 5px;
  padding-right: 10px;
  float:left;
}

section #main_#main_content{
	display: none;
}

#main_#main_content table{
	font-size:95%;
}

form.form label,form#form_filter label {
	float: left;
	width: 200px;
}
form.form .bg,form#form_filter .bg {
	background:#fff;
	float:left;
	border-radius:6px;
	-moz-border-radius:6px;
	-webkit-border-radius:6px;
	position:relative
}

form.form input.input_text,form.form input.input_date,
form#form_filter input.input_tinymce_simple ,form#form_filter input.input_tinymce,
form#form_filter input.input_text,form#form_filter input.input_date{
	font:14px Tahoma, Geneva, sans-serif;
	color:#4c4c4c;
	width:246px;
	padding:5px;
	line-height:18px;
	margin: 1px;
}
form.form select,form#form_filter select {
	font:14px Tahoma, Geneva, sans-serif;
	color:#4c4c4c;
	width:258px;
	padding:5px;
	line-height:18px;
	margin: 1px;
}

#main_#main_content2 {
    overflow: hidden;
    padding: 0;
    width: 100%;
}

.loginbox{
	width: 370px;
	margin: 0px auto;
}

form#form-login label{
	width: 100px;
	float:left;
}
form#form-login .field{
	width: 160px;
	float: right;
}
form#form-login .button{
	padding: 0px;
	margin-left: 100px;
}
form#form-login input{
	width: 150px;
	margin-left: 5px;
	background: #3CA7DD;
}
.box2 {
    background: none repeat scroll 0 0 #FFFFFF;
    padding: 0;
}

.hidden{
	display:none;
}


/***************
	Home
***************/
#infobox{
	border:1px solid #e8e7e1;
}
#infobox h3{
	background:#f7f6f0;
	border-bottom:1px solid #e8e7e1;
	color:#a43708;
}
#rightnow {
	border:1px solid #e8e7e1;
}
#rightnow .reallynow {
	background:#f7f6f0;
	color:#a43708;
}
#rightnow h3{
	background:#f7f6f0;
	border-bottom:1px solid #e8e7e1;
}

div#main-menu {
	position: absolute;
	margin: 0px;
	padding: 0px;
	top: 10%;
	left: 0px;
	list-style: none;
	z-index:9999;
	left:20px;
	opacity: 0.8;
}

#main-menu,.ui-menu{
	background: #F8F8F8;
	/*border-radius: 0 10px 10px 0 !important;*/
	border:2px #0060AE solid; 
	border-left: none;
}

.right_menu > .ui-widget-#main_content{
	background: #F8F8F8;
	border: none !important;
}

#main-menu h1,
#main-menu h2,
#main-menu h3
{
	font-size: 100%;
	padding: 1px 0 1px 0;
}

#main-menu .menu_title{
	text-align : center;
	padding: 5px;
}

#main-menu-container{
	background: #F8F8F8;
	height:100%;
	position: fixed;
	top:0px;
	width: 15px;
	border-right: 2px #0060AE solid;
	opacity: 0.8;
}

.fleft{float:left;}
.fright{float:right;}
.fclear{clear:both;}

.action_menu_col{
	width: 70px;
}

.action_menu{
	list-style: none;
}
.action_menu li{
	float:left;
	margin: 2px 5px;
}
.action_menu li a{
	padding-left: 17px;
	text-decoration : none;
}

/*********************
	Icons
*********************/
.icon{
	padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12px;
	margin:0 3px;
	display:inline-block;
	line-height:20px;
}
ul.action_menu a{background:transparent url(../img/icons/bricks_gear.png) no-repeat left;}
.user{background:transparent url(../img/icons/user.png) no-repeat left !important;}
.useradd{background:transparent url(../img/icons/user_add.png) no-repeat left !important;}
.group{background:transparent url(../img/icons/group.png) no-repeat left !important;}
.search{background:transparent url(../img/icons/magnifier.png) no-repeat left !important;}
.online{background:transparent url(../img/icons/world.png) no-repeat left !important;}
.pagenew{background:transparent url(../img/icons/page_add.png) no-repeat left !important;}
.rss{background:transparent url(../img/icons/rss.png) no-repeat left !important;}
.feed{background:transparent url(../img/icons/feed.png) no-repeat left !important;}
.report{background:transparent url(../img/icons/report.png) no-repeat left !important;}
.house{background:transparent url(../img/icons/house.png) no-repeat left !important;}
.manage{background:transparent url(../img/icons/cog.png) no-repeat left !important;}
.manage_page{background:transparent url(../img/icons/page_gear.png) no-repeat left !important;}
.folder{background:transparent url(../img/icons/folder.png) no-repeat left !important;}
.promotions{background:transparent url(../img/icons/coins.png) no-repeat left !important;}
.cart{background:transparent url(../img/icons/cart.png) no-repeat left !important;}
.folder_table{background:transparent url(../img/icons/folder_page.png) no-repeat left !important;}
.shipping{background:transparent url(../img/icons/car.png) no-repeat left !important;}
.invoices{background:transparent url(../img/icons/page_white_text_width.png) no-repeat left !important;}
.addorder{background:transparent url(../img/icons/folder_page_add.png) no-repeat left !important;}
.app_add{background:transparent url(../img/icons/application_add.png) no-repeat left !important;}
.report_seo{background:transparent url(../img/icons/report_link.png) no-repeat left !important;}
.modules{background:transparent url(../img/icons/bricks.png) no-repeat left !important;}
.modules_manage{background:transparent url(../img/icons/bricks_gear.png) no-repeat left !important;}

.add{background:transparent url(../img/icons/add.png) no-repeat left !important;}
.edit{background:transparent url(../img/icons/edit.gif) no-repeat left !important;}
.penilaian{background:transparent url(../img/icons/edit.gif) no-repeat left !important;}
.delete{background:transparent url(../img/icons/delete.gif) no-repeat left !important;}
.view{background:transparent url(../img/icons/view.gif) no-repeat left !important;}
.report{background:transparent url(../img/icons/report.png) no-repeat left !important;}
.hasil{background:transparent url(../img/icons/report.png) no-repeat left !important;}
.listing{background:transparent url(../img/icons/return.gif) no-repeat left !important;}
.index{background:transparent url(../img/icons/return.gif) no-repeat left !important;}

.desc_field{
	margin: 2px 0;
	float: left;
	font-size: 10px;
}

p.error{
	color: red;
	font-size: 12px;
	font-style: italic;
	padding: 0px 10px;
}

p.success{
	color: green;
	font-size: 12px;
	font-style: italic;
	padding: 0px 10px;
}

.value_view > div.mce-tinymce {
	display: inline-block;
}
.right_menu > .ui-widget-content{
	border: 0px !important;
}

table.input_multiple td{
	border:1px solid #e8e7e1;
	padding: 2px;
}
table.input_multiple{
	border: 1px solid #e8e7e1;
	margin-top: 10px;
	margin-bottom: 15px;
	padding: 3px;
	width: 100%;
}

table.input_multiple input,table.input_multiple textarea{
	font: 14px Tahoma, Geneva, sans-serif;
	color: #4c4c4c;
	width: 246px;
	padding: 5px;
	margin: 1px;
	min-height:30px;
}
table.input_multiple .remove_row_input_multiple{
	margin-top:10px;
	float:left;
}
form.form  .label_input_multiple,form.form  .span_input_multiple{
	width:100%;
	font-weight:bold;
}

table.table_report{
	width:100%;
}
table.table_report td{
	border:1px #e8e7e1 solid;
}
table.table_report th{
	vertical-align: middle;
}
table.table_report .td_kompetensi{
	vertical-align: middle;
	text-align:center;
}

.justify{
	text-align:justify;
}
.col1 table, .col1 table td{
	/*font-size: 12px;*/
	border: 1px #e8e7e1 solid;
	padding: 2px;
}

table.input_fixed_multiple td{
	padding : 5px ;
}


#sortable { font-weight: normal; width:80%; padding-bottom: 10px; margin: 20px;}
#sortable ul { font-weight: normal; width:80%; padding: 5px 0;}
#sortable ul ul{ width:100%;}
#sortable ul ul li{ margin-left: 30px;}
#sortable li { width: auto; border: 1px #000000 solid;}
#sortable li .sort_action a{ margin: 0 5px; padding: 2px 0px 2px 17px; }
#sortable .ui-state-highlight { min-height:20px; float:left; width:100%;}

form.form_bulk{
	float:right;
}

form.form_bulk input,form.form_bulk select{
	border: 1px solid #e8e7e1;
	width: 135px;
	padding: 3px;
}

form.form_bulk button{
	background: url(../images/marker_1.gif) no-repeat;
	background-position: 3px -39px;
	width: 38px;
	height: 38px;
	vertical-align: middle;
	margin: 0px;
	padding: 0px;
}

#panel{
	clear: both;
	display: inline;
}

#panel .action_menu{
	float: left;
	display: inline;
}

.text_editor{
	padding-right: 20px;
	background: url(../img/icons/edit.gif) center right no-repeat;
	cursor: pointer;
}
