.box
{
  border-radius:0 !important;
}

.fnone{
  float:none !important;
}

.h-inherit
{
  height: inherit !important;
}
.margin0{
  margin: 0px !important;
}
.margintop-1{
  margin-top: -1px;
}
.marginleft-20{
  margin-left: -20px;
}
.marginleft-16{
  margin-left: -16px;
}
.margin20{
  margin:20px;
}
.paddingtop0{
  padding-top: 0px;
}
.paddingbottom0{
  padding-bottom: 0px;
}
.paddingright0{
  padding-right: 0px;
}
.bgfff{
  background:#ffffff;
}

.bordernone{
  border: 0px;
}
.font24{
  font-size: 24px;
}
.font5em{
  font-size: 5em;
}
.action_menu_col{
	width: 160px;
}
@media (max-width: 767px) {
  .action_menu_col{
    width: 70px;
  }
}
.action_menu{
	list-style: none;
}
.action_menu li{
	/*float:left;*/
}
.action_menu li a{
	padding-left: 17px;
	text-decoration : none;
}
.modal-body .marginleft-16{
  margin-left: -20px;
}
ul.action_menu .icon{
	/*padding-left:19px;
	text-decoration:none;
	height:20px;
	font-size:12px;
	margin:0 3px;
	display:inline-block;
	line-height:20px;*/
}
ul.action_menu a{/*background:transparent url(../images/icons/bricks_gear.png) no-repeat left; */}
.user{background:transparent url(../images/icons/user.png) no-repeat left !important;}
.useradd{background:transparent url(../images/icons/user_add.png) no-repeat left !important;}
.group{background:transparent url(../images/icons/group.png) no-repeat left !important;}
.search{background:transparent url(../images/icons/magnifier.png) no-repeat left !important;}
.online{background:transparent url(../images/icons/world.png) no-repeat left !important;}
.pagenew{background:transparent url(../images/icons/page_add.png) no-repeat left !important;}
.rss{background:transparent url(../images/icons/rss.png) no-repeat left !important;}
.feed{background:transparent url(../images/icons/feed.png) no-repeat left !important;}
.report{background:transparent url(../images/icons/report.png) no-repeat left !important;}
.house{background:transparent url(../images/icons/house.png) no-repeat left !important;}
.manage{background:transparent url(../images/icons/cog.png) no-repeat left !important;}
.manage_page{background:transparent url(../images/icons/page_gear.png) no-repeat left !important;}
.folder{background:transparent url(../images/icons/folder.png) no-repeat left !important;}
.promotions{background:transparent url(../images/icons/coins.png) no-repeat left !important;}
.cart{background:transparent url(../images/icons/cart.png) no-repeat left !important;}
.folder_table{background:transparent url(../images/icons/folder_page.png) no-repeat left !important;}
.shipping{background:transparent url(../images/icons/car.png) no-repeat left !important;}
.invoices{background:transparent url(../images/icons/page_white_text_width.png) no-repeat left !important;}
.addorder{background:transparent url(../images/icons/folder_page_add.png) no-repeat left !important;}
.app_add{background:transparent url(../images/icons/application_add.png) no-repeat left !important;}
.report_seo{background:transparent url(../images/icons/report_link.png) no-repeat left !important;}
.modules{background:transparent url(../images/icons/bricks.png) no-repeat left !important;}
.modules_manage{background:transparent url(../images/icons/bricks_gear.png) no-repeat left !important;}

.add{background:transparent url(../images/icons/add.png) no-repeat left !important;}
.edit{background:transparent url(../images/icons/edit.gif) no-repeat left !important;}
.penilaian{background:transparent url(../images/icons/edit.gif) no-repeat left !important;}
.delete{background:transparent url(../images/icons/delete.gif) no-repeat left !important;}
.view{background:transparent url(../images/icons/view.gif) no-repeat left !important;}
.report{background:transparent url(../images/icons/report.png) no-repeat left !important;}
.hasil{background:transparent url(../images/icons/report.png) no-repeat left !important;}
.listing{background:transparent url(../images/icons/return.gif) no-repeat left !important;}
.index{background:transparent url(../images/icons/return.gif) no-repeat left !important;}

.icon{
  padding-left:25px !important;  
  background-position-x:5px !important;
  margin-left:2px;
}


#sortable { font-weight: normal; width:100%; padding-bottom: 10px; margin: 0;}
#sortable ul { font-weight: normal; width:100%; padding: 5px 0;}
#sortable ul ul{ width:100%;}
#sortable ul ul li{ margin-left: 30px;}
#sortable li { width: auto; border: 1px #000000 solid; list-style:none;}
#sortable li .sort_action a{ margin: 0 5px; padding: 2px 0px 2px 17px; }
#sortable .ui-state-highlight { min-height:20px; float:left; width:100%;}

@media (max-width: 767px) {
  #sortable { font-weight: normal; width:150%; padding-bottom: 10px; margin: 0;}
}

.text_editor{
	padding-right: 20px;
	background: url(../images/icons/edit.gif) center right no-repeat;
	cursor: pointer;
}

.fleft{float:left;}
.fright{float:right;}
.fclear{clear:both;}

body {
  /*padding-top: 70px;
  padding-bottom: 30px;*/
}

.theme-dropdown .dropdown-menu {
  display: block;
  position: static;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}


.img-profile{
	margin: -150px 10px 20px 50px;
	position: relative;
}

.img-profile img
{
	width: 170px;
	height: 200px;
}

@media (min-width: 768px) {
	.navbar-fixed-left{
		left:0;
		position: relative;
	}
}
@media (min-width: 992px) {
	.navbar-fixed-left{
		left:0;
		position: fixed;
	}
}
@media (min-width: 1200px) {
	.navbar-fixed-left{
		left:0;
		position: fixed;
	}
}

@media (max-width: 992px) {
	.img-profile{
		margin: 10px;
		position: relative;
	}

	.img-profile img
	{
		width: 170px;
		height: 200px;
	}
}


/*
 * Sidebar
 */

/* Hide for mobile, show later */
.sidebar {
  display: none;
}
@media (min-width: 768px) {
  .sidebar {
    position: fixed;
    top: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    display: block;
    padding: 70px 20px 20px;
    background-color: #f5f5f5;
    border-right: 1px solid #eee;
  }
}


.form-signin {
  max-width: 330px;
  padding: 15px;
  margin: 0 auto;
}
.form-signin .form-signin-heading,
.form-signin .checkbox {
  margin-bottom: 10px;
}
.form-signin .checkbox {
  font-weight: normal;
}
.form-signin .form-control {
  position: relative;
  font-size: 16px;
  height: auto;
  padding: 10px;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}
.form-signin .form-control:focus {
  z-index: 2;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-left-radius: 0;
  border-bottom-right-radius: 0;
}
.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}


/*
 * Main content
 */

.main {
  margin: 20px 0;
}
@media (min-width: 768px) {
  .main {
	margin: 40px 0;
  }
}

.padding0{
	padding:0;
}

.img-banner{
	height:350px;
	width:100%;
}


.margintop-50
{
	margin-top:-50px;
	position:relative;
}
.marginright50
{
	margin-right:50px;
	position:relative;
}


.form-control select,.form-control textarea{
	width:100%;
	height:100%;
}

.input-group-auto{
	min-height: 100px;
}

.input-group-auto .form-control{
	min-height: 100px;
}

.padding0{
  padding: 0px !important;
}
.marginbottom4px{
  margin-bottom: 4px !important;
}

.input-group input,.input-group select{
  min-width: 100px;
}

#content .row .col-lg-3 .input-group
{
  width:100%;
}

#content .row .col-lg-3 .input-group label
{
  padding-top: 7px;
  border-bottom: 1px #ccc dashed;
  width:100%;
}

.help-block{
  font-size: 11px;
  font-style: italic;
  font-weight: bold;
}

.alert{
  padding: 3px;
}

.wrapword{
  white-space: -moz-pre-wrap !important;  /* Mozilla, since 1999 */
  white-space: -webkit-pre-wrap; /*Chrome & Safari */ 
  white-space: -pre-wrap;      /* Opera 4-6 */
  white-space: -o-pre-wrap;    /* Opera 7 */
  white-space: pre-wrap;       /* css-3 */
  word-wrap: break-word;       /* Internet Explorer 5.5+ */
  word-break: break-all;
  white-space: normal;
}


.input_config_table .nav{
  overflow: auto;
  height: 500px;
}

.input_config_table .nav li a{
  padding: 5px;
  margin: 0 5px 0 20px;
}
.input_config_table{
  padding: 5px 5px 5px 0;
}

.form_config_table  .input-group label{
  margin-top: 7px;
}
.table-parameter-row,.field-config-row{
  margin-bottom: 20px;
}
