
/*//////////GENERAL STYLE//////////*/
em {
  font-family: 'gothamlightitalic';
}
b,strong {
  font-family: 'gothammediumregular';
  font-weight: 500 !important;
}
strong em {
  font-family: 'gothammediumitalic';
}
body {
  background: url(../images/bg.gif);
  font-family: 'gothamlightregular' !important;
}
p:last-child {
  margin-bottom: 0;
}
hr {
  margin: 10px 0;
}


/*** BLOCK HEADER ***/
.site-header {
  width: 100%;
  min-height: 50px;
  background: url(../images/bg.gif);
  border-top: 4px #7aae37 solid;
  position: fixed;
  top: 0;
  z-index: 99;
  border-bottom: 1px #fff solid;
}
.site-header .navbar-default {
  background: url(../images/navbar-default-transparent.png) repeat-x center top transparent;
  border-radius:         0;
  -moz-border-radius:    0;
  -webkit-border-radius: 0;
  border: 0 #d1d7bf solid;
  border-bottom: 1px #d1d7bf solid;
  margin-bottom: 0;
}

.logo {
  margin-top: 0;
  font-family: 'gothamultraregular';
}
h1.logo .navbar-brand {
  color: #7aae37;
  text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25) !important;
}

#gts-navigation li {
  margin-left: 2px;
}
#gts-navigation li a.dropdown-toggle i {
  font-size: 24px;
  color: #506050;
}
#gts-navigation li .dropdown-menu  {
  background: #ececec;
  margin-top: -1px;
}
#gts-navigation li > a.dropdown-toggle,
#gts-navigation li.dropdown.notification-on > a.dropdown-toggle {
  position: relative;
  padding: 20px 10px 5px 20px;
  z-index: 9999;
  border: 0 none;
  box-shadow:         0 -1px 1px transparent;
  -moz-box-shadow:    0 -1px 1px transparent;
  -webkit-box-shadow: 0 -1px 1px transparent;
  margin-top: -5px;
}
#gts-navigation li.dropdown a.dropdown-toggle {
  padding: 20px 10px 5px;
}
#gts-navigation li.dropdown a:hover i,
#gts-navigation li.dropdown a:focus i {
  color: #405040;
}
#gts-navigation li.dropdown > a.dropdown-toggle {
  background-color: transparent;
}
#gts-navigation li.open > a.dropdown-toggle {
  background-color: #ececec;
  border: 0 none;
  box-shadow:         0 -1px 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    0 -1px 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 -1px 1px rgba(0, 0, 0, 0.25);
}
#gts-navigation li.open > ul.dropdown-menu {
  min-width: 240px;
  border: 0 none;
  padding: 0;
  box-shadow:         0 0 1px rgba(0, 0, 0, 0.25);
  -moz-box-shadow:    0 0 1px rgba(0, 0, 0, 0.25);
  -webkit-box-shadow: 0 0 1px rgba(0, 0, 0, 0.25);
  background-color: #fff;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li {
    margin-left: 0;
}
#gts-navigation li.dropdown a .badge {
  width: 20px;
  height: 20px;
  position: absolute;
  top: 10px;
  left: 10px;
  border-radius: 50%;
  padding: 0;
  line-height: 20px;
  text-align: center;
  background-color: #bc360a;
  font-size: 11px;
	font-family: arial;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu .dropdown-header {
  background: #ececec;
  font-family: 'gothammediumregular';
	text-align: center;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu {
  min-height: 60px;
	border-radius: 0;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu .dropdown-header,
#gts-navigation li.dropdown.open > ul.dropdown-menu .dropdown-footer {
  padding: 10px;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li {
  padding: 10px 10px 0;
  border-bottom: 1px #ececec solid;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li:last-child {
  border-bottom: 0 #ececec solid;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li.clearfix:hover {
  background-color: #f9f9f9;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li a {
  color: #333;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li a:hover {
  text-decoration: none;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li p {
  margin-bottom: 0;
  font-size: 12px;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li strong.user-name {
  color: #00746b;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li strong.money-value {
  color: #aba000;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu li span.date-info {
	font-size: 10px;
	font-family: Arial;
	color: #bc360a;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu .dropdown-footer a {
  margin-top: 0;
  padding: 0;
  font-family: 'gothammediumregular';
  font-size: 12px;
	color: #7aae37;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu .dropdown-footer a:hover {
  background: transparent;
	color: #709080;
}
#gts-navigation li.dropdown.open > ul.dropdown-menu .dropdown-footer i {
	color: #7aae37;
	font-size: 16px;
}

li.profile-menu > a {
	padding-top: 10px !important;
}
li.profile-menu.open a.dropdown-toggle {
	background: #fff !important;
}
li.profile-menu > a img {
	margin-right: 10px !important;
}
li.profile-menu ul.dropdown-menu li {
	padding: 0 !important;
}
li.profile-menu ul.dropdown-menu li a {
	padding: 10px;
}
li.profile-menu ul.dropdown-menu li a i {
	font-size: 14px;
	color: #ababab;
}
li.profile-menu .caret {
  width: 11px;
  height: 6px;
  border: 0 none;
}
li.profile-menu .caret img {
  vertical-align: top;
}


/*** BLOCK CONTENT ***/

.site-content {
	margin-top: 100px;
}


/* Table Group */

.table-group-sale  {
	border-collapse: separate;
	border-spacing: 1px;
  margin-bottom: 10px;
}
.table-group-sale tbody tr td {
	background: #fff;
	border-top: 0 none;
	border-bottom: 1px #ccc solid;
}
.table-group-sale tr:first-child > td:first-child,
.table-group-sale tr:last-child > td {
	border-bottom-color: #999;
}
.table-group-sale tr:last-child > td {
}
.table-group-sale tr:first-child > td:nth-of-type(2),
.table-group-sale tr:first-child > td:last-child {
	border: 0 none;
}

.table-group-buyer  {
	border-collapse: separate;
	border-spacing: 1px;
}
.table-group-buyer tbody tr td {
	background: #fff;
	border-top: 0 none;
	border-bottom: 1px #ccc solid;
}
.table-group-buyer tr:last-child > td {
	border-bottom-color: #999;
}
.table-group-buyer tr:last-child > td {
}
.table-group-buyer tr:first-child > td {
	border: 0 none;
}
.table-group-buyer .status-ok,span.status-ok {
  font-size: 13px;
	padding-right: 30px;
}
@media (min-width: 768px) {
	.table-group-buyer .status-ok,span.status-ok {
		font-size: 16px;
	}
}
.table-group-buyer .status-ok i,span.status-ok i {
  font-size: 24px;
  position: relative;
  top: 4px;
  color: #7aae37;
}


/* Prospectives */
.gts-grid {}

.gts-grid {}
.gts-grid dl {
	background: #fff;
}
.gts-grid dl dt img {
	max-width: 100px;
	display: block;
	margin: auto;
}
.gts-grid dl dd {
	padding: 8px;
}
.gts-grid dl dd ul {
	margin-bottom: 0;
}
@media all and (min-width: 401px) and (max-width: 599px) {
	.gts-grid .col-xs-12 {
		width: 50%;
	}
}
@media all and (min-width: 600px) and (max-width: 767px) {
	.gts-grid .col-xs-12 {
		width: 50%;
	}
}
@media (max-width: 767px) {
	.gts-grid dl dd {
		text-align: center;
	}
}
@media (min-width: 768px) {
	.gts-grid dl dt {
		width: 30%;
	}
	.gts-grid dl dt img {
		width: 100%;
	}
	.gts-grid dl dd {
		width: 70%;
		margin-left: 30.11111%;
	}
}
.gts-grid.prospectives dl {
	border-bottom: 2px #C5360B solid;
}

.gts-grid.certificates dl {
 	border-bottom: 2px #008abd solid;
}
.gts-grid.certificates .on-sale dl .btn-sale,
.gts-grid.certificates dl .btn-cancel,
.gts-grid.certificates dl span.label {
	display: none;
}
.gts-grid.certificates .on-sale dl span.label {
	display: block;
	position: absolute;
	top: 6px;
	right: 12px;
}

.gts-grid.certificates ul li .btn-sale {
	display: block;
}

.gts-grid.certificates .on-sale dl {
	border-bottom: 2px #7aae37 solid;
}
.gts-grid.certificates .on-sale ul li .btn-cancel {
  display: block;
}


/* Certificate Block */

.single-certificate {}
.single-certificate h4.accdn {
	cursor: pointer;
}
.single-certificate h4.accdn .caret {
	float: right;
	display: inline;
	margin-top: 10px;
}
.single-certificate h4.accdn .caret {
	transform: rotate(90deg);
}
.single-certificate h4.accdn.collapsed .caret {
	transform: rotate(0deg);
}
.single-certificate .list-group li {
	margin-bottom: 2px;
}



/* Sidebar Left */

.sidebar-container {}
.sidebar-container .input-group,
.sidebar-container .list-group {
	margin-bottom: 30px;
}
.sidebar-container .list-group.text-center a {
	text-align: left;
}

.sidebar-container form .input-group {
  background: #506050;
  position: relative;
  width: 100%;
}
.sidebar-container form div .form-control:focus,
.sidebar-container form div .btn-default:focus {
  box-shadow: none;
  transition: none;
}
.sidebar-container form div .form-control {
  color: #FFFFFF;
  height: 40px;
  width: calc(100% - 40px);
}
.sidebar-container form div .form-control,
.sidebar-container form div .btn-default {
  background-color: transparent;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  border: 0 none;
}
.sidebar-container form div .btn-default {
  width: 40px;
  height: 40px;
  position: absolute;
  right: 0;
  top: 0;
  font-size: 24px;
}
.sidebar-container form div .btn-default:hover i {
  color: #7AAE37;
}

.sidebar-container .list-group a,
.sidebar-container .list-group a:hover {
  color: #fff;
  margin-bottom: 1px;
}
.sidebar-container .list-group a.active,
.sidebar-container .list-group a.active:hover,
.sidebar-container div[class*="status"].active {
  background: #7AAE37;
}
.sidebar-container .list-group-item:first-child,
.sidebar-container .list-group-item:last-child {
  border-radius: 0;
}
a.list-group-item, a.list-group-item:hover, a.list-group-item:focus,
a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus {
  border: 0 none;
}

.sidebar-container div[class*="status"] {
  background: #909090;
  color: #fff;
  padding: 15px;
}
.sidebar-container div[class*="status"] h4{
  border-bottom: 1px #fff solid;
  padding: 10px;
}

.sidebar-container .control-panel a {
  background: #506050;
}
.sidebar-container .control-panel a:hover {
  background: #405040;
}

.certificate-status a,
.certificate-status a:hover,
.certificate-status a:focus {
  background-color: transparent;
  color: #fff;
  border: 0 none;
  padding-left: 36px;
  padding-right: 0;
}
.certificate-status .square-badge {
  background-color: #5C911A;
  border: 1px solid #FFFFFF;
  height: 28px;
  line-height: 26px;
  text-align: center;
  width: 28px;
  position: absolute;
  left: 0;
}
.certificate-status a.list-group-item:hover .square-badge {
	background-color: #406050;
	color: #fff;
	border: 1px #406050 solid;
}
.certificate-status a i {
  font-size: 12px;
  position: relative;
}

/* Primary Content */

.site-content {
	height: auto !important;
	min-height: 1000px;
	margin-top: 90px;
	padding-bottom: 110px;
	border-bottom: 1px solid #DADADA;
}

.header-page h2,
.header-content h3 {
  margin-top: 0;
  margin-bottom: 30px;
  line-height: 40px;
}
.header-content {
  background: #506050;
}
.header-content h3 {
  color: #fff;
  font-size: 20px;
  margin-bottom: 15px;
  padding-left: 10px;
  padding-right: 10px;
}
.header-content h3 .btn-filter {
  line-height: 24px;
  border-radius: 0;
  -moz-border-radius: 0;
  -webkit-border-radius: 0;
  background-color: #7AAE37;
  margin: 1px -9px 1px 0;
}

@media (max-width : 767px){
  .no-more-tables table,.no-more-tables thead,.no-more-tables tbody,
  .no-more-tables th,.no-more-tables tr,
  .no-more-tables td {
    display: block;
    width: 100%;
  }
  .no-more-tables th,.no-more-tables tr {
    margin-bottom: 15px;
  }
}

@media (min-width : 768px) and (max-width : 991px){
  .no-more-tables table,.no-more-tables thead,.no-more-tables tbody {
    display: block;  }
  .no-more-tables th,.no-more-tables tr {
    display: inline;
    float: left;
    width: 50%;
  }
  .no-more-tables td {
    display: block;
    width: 100%;
  }
}


/** Secondary Content **/

#mang_stab {
	border-bottom: 2px #506050 solid;
}
#mang_stab a.btn-bid {
	color: #fff;
}

/** Guest Member Login **/

.member-login {
	background: #fff;
	border-left: 4px #7aae37 solid;
	padding: 20px;
  margin-bottom: 30px;
}
.member-login form .form-control,
.member-login form .btn {
  border-radius: 0;
  border: 0 none;
}
.member-login form .form-control {
	background-color: #7aae37;
	background-image: none;
	box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
	color: #fff;
	font-size: 14px;
	height: 32px;
	line-height: 1.42857;
	padding: 6px 12px;
	transition: none;
}
.member-login form .btn {
	background-color: #506050;
	color: #fff;
}
.member-login form .form-control::-moz-placeholder {
	color: #506050;
}

body.login-page .site-header {
  background: url("../images/navbar-default-transparent.png") repeat-x scroll center top rgba(0, 0, 0, 0);
  border-bottom-color: transparent;
}
body.login-page .site-content {
  margin-top: 0;
  min-height: 678px;
}
.member-login-page {
  margin-top: 100px;
}
.member-login-page .panel {
  background-color: #506050;
  color: #fff;
}
.member-login-page p .img-responsive {
  display: table;
  margin: 0 auto;
}
.member-login-page .panel .panel-heading {
  border-color: #506050;
}
.member-login-page .panel .panel-heading h3 {
  margin: 0;
}
.forgot-pass {
  text-align: right;
}
.forgot-pass a {
  color: #f7941d;
}


/** Pagination **/

.bottom-page-navi {
	border-top: 4px #506050 solid;
	margin-top: 30px;
}
.pagination.custom {
	float: none;
  display: table;
  margin-left: auto;
  margin-right: auto;
}
@media ( min-width: 768px ) {
  .pagination.custom {
    float: right;
  }
}
.pagination.custom,
.pagination.custom li a {
	border-color: #fff;
}
.pagination.custom li a:hover,
.pagination.custom li a:focus {
	border-color: #ddd;
	background: #fff;
}
.pagination.custom li:first-child a,
.pagination.custom li:last-child a  {
	border-radius:         0;
	-moz-border-radius:    0;
	-webkit-border-radius: 0;
}
.pagination.custom li {
	display: inline-block;
	border-bottom: 1px solid #506050 !important;
}
.pagination.custom > li > a,
.pagination.custom > li > span {
	color: #506050;
}
.pagination.custom > .active > a {
	color: #fff;
}
.pagination.custom > .active > a,
.pagination.custom > .active > span,
.pagination.custom > .active > a:hover,
.pagination.custom > .active > span:hover,
.pagination.custom > .active > a:focus,
.pagination.custom > .active > span:focus {
	background: #6cab1f;
	border-color: #6cab1f;
}


/*** BLOCK FOOTER ***/
.site-footer {
  border-top: 1px #f0f0f0 solid;
  padding: 15px 0;
}
.site-footer .copyrights {
  text-align: center;
  margin: 0;
  color: #bcbcbc;
  font-size: 12px;
  text-shadow: 0 1px 0 #f9f9f9;
}


/*//////////QUICK CUSTOM CSS//////////*/

.col-table {
	display: table;
  width: 100%;
}
.col-tr {
	display: table-row;
}
.col-td {
	display: table-cell;
}

.table tbody > tr > td.td-middle {
	vertical-align: middle !important;
}
.table tbody > tr > td.td-bottom,.table thead > tr > .td-bottom {
	vertical-align: bottom !important;
}

.dashed {
  border-bottom: 1px #ccc dashed !important;
}

.overbox {
	overflow: hidden;
	position: relative;
}
.overbox-hide {
	position: absolute;
	width: 100%;
	height: 100%;
	padding: 20px;
	background: #fff;
	bottom: -100%;
	left: auto;
	transition: all 0.2s 0.1s ease;
}
.overbox:hover .overbox-hide {
	bottom: 0;
}
div[class^="col"] .overbox-hide {
  /*width: calc( 100% - 30px );*/
  margin: 0 auto;
}
@media ( min-width: 768px ) {
  .overbox-hide {
    padding: 10px;
  }
}

.bg-green,.bg-green-dark,.bg-red-brown,.bg-blue-light { color: #fff; }
.bg-green { background: #7aae37 !important; }
.bg-green-dark { background: #506050 !important; }
.bg-red-brown { background: #C5360B !important; }
.bg-blue-light { background: #00aeef !important; }
.bg-white { background: #fff !important; }

.text-green { color: #7aae37; }
.text-green-dark { color: #506050; }
.text-red { color: #C5360B;  }
.text-white { color: #FFFFFF;  }
.text-red { color: #ff0000 !important;  }

.fluid { width: 100%; }
.margin-0 { margin: 0; }.margin-top-10 { margin-top: 10px; } .margin-top-20 { margin-top: 20px; } .margin-top-30 { margin-top: 30px; }
.margin-bottom-10 { margin-bottom: 10px; } .margin-bottom-20 { margin-bottom: 20px; } .margin-bottom-30 { margin-bottom: 30px; }
.padding-0 { padding: 0; }.padding-top-10 { padding-top: 10px; } .padding-top-20 { padding-top: 20px; } .padding-top-30 { padding-top: 30px; }
.padding-bottom-10 { padding-bottom: 10px; } .padding-bottom-20 { padding-bottom: 20px; } .padding-bottom-30 { padding-bottom: 30px; }
.margin-padding-0 { margin: 0; padding: 0; }

@media ( max-width: 767px; ) {
  .margin-0-sm {
    margin: 0 0 15px;
  }
}
@media ( max-width: 991px; ) {
  .margin-0-md {
    margin: 0 0 15px;
  }
}

.clearlist:before,.floatlist:before,
.clearlist:after,.floatlist:after {
  content: '';
  display: table;
  line-height: 0;
}
.clearlist:after,.floatlist:after {
  width: both;
}
.clearlist,.floatlist {
  list-style: none;
  padding: 0;
}
.floatlist li {
  float: left;
}

.cursor-zoom img {
  cursor: zoom-in;
  cursor: -moz-zoom-in;
  cursor: -webkit-zoom-in;
}


/*//////////QUICK OVERIDE//////////*/

#mangstab a:first-child {
	display: none;
}

dl.lightext dt {
	font-weight: normal;
	font-size: 90%;
	color: #666;
}
.dl-horizontal.with-colon dd:before {
	display: none;
}
.dl-horizontal dt {
  text-align: left;
}
.dl-horizontal dd {
  position: relative;
}
@media ( min-width: 768px ) {
	.dl-horizontal.with-colon dd:before {
		content: ":";
		position: absolute;
		top: 2px;
		left: -10px;
		font: 700 12px Arial;
		color: #999;
		display: block;
	}
	.dl-horizontal dt {
		width: 38%;
	}
	.dl-horizontal dd {
		width: 60%;
		margin-left: 40%;
		position: relative;
	}
}

.table dl {
	margin-bottom: 0;
}
.table dl dt,
.well dl dt {
  font-size: 90%;
  color: #aaa;
}

.label-circle {
  border-radius: 50%;
  display: inline;
  padding: 4px 5px;
}

.carousel {
	margin-bottom: 30px;
}
.btn,.btn:hover,.btn:focus,
a.list-group-item:hover, a.list-group-item:focus {
  color: #fff;
}
a:focus,.btn:focus {
	outline: 0 none;
}

a.list-group-item:hover, a.list-group-item:focus,
.btn-default,.btn-default:hover,.btn-default:focus {
	background-color: #7AAE37;
	border-color: #68942f;
}
.btn-default:hover {
	background-color: #8cc740;
}

.btn-sale,.btn-sale:hover,.btn-sale:focus {
	background-color: #00aeef;
	border-color: #008abd;
}
.btn-sale:hover {
	background-color: #00bbff;
}

.btn-bid,.btn-bid:hover,.btn-bid:focus {
	background-color: #e55c17;
	border-color: #cc5214;
}
.btn-bid:hover {
	background-color: #ff661a;
}
.btn-warning {
	background-color: #f0ad4e;
	border-color: #f0ad4e;
}
.btn-error {
	background-color: #ff0000;
	border-color: #ff0000;
}

a.list-group-item.active, a.list-group-item.active:hover, a.list-group-item.active:focus,
.btn-cancel,.btn-cancel:hover,.btn-cancel:focus {
	background-color: #506050;
	border-color: #405040;
}
.btn-cancel:hover {
	background-color: #607060;
}

.panel-default,.panel-default > .panel-heading,
a.list-group-item,a.list-group-item:first-child,a.list-group-item:last-child,
.list-group,.list-group li.list-group-item:first-child,.list-group li.list-group-item:last-child {
	border-radius: 0;
	-moz-border-radius: 0;
	-webkit-border-radius: 0;
}
a.list-group-item {
	margin-bottom: 1px;
}
.panel-default {
	background: #fff;
	border-width: 0 0 2px;
	border-style: solid;
	border-color: #607060;
}

.panel-default > .panel-heading,
ul li.list-group-item-heading {
  background: #405040;
  color: #fff;
  font-size: 16px;
}
ul li.list-group-item-heading {
  list-style: none;
  padding: 10px 15px;
}
.panel-default ul li.list-group-item {
  border-width: 0 0 1px !important;
  border-color: #aaa;
  border-style: solid;
  margin-bottom: 0;
}

/*
.table-responsive tr th.noscrolled:last+th,.table-responsive tr td.noscrolled:last+td,.table-responsive tr th:first-child+th,.table-responsive tr td:first-child+td {
  padding-left:75px;
}
.table-responsive tr td.noscrolled,.table-responsive tr th.noscrolled,.table-responsive tr td:first-child,.table-responsive tr th:first-child {
  position: absolute;
  background: white;
}
*/
.table-responsive tr th.noscrolled+th:not(.noscrolled),.table-responsive tr td.noscrolled+th:not(.noscrolled){
  padding-left:75px;
}
.table-responsive tr td.noscrolled,.table-responsive tr th.noscrolled{
  position: relative;
  background: white;
}

@media (min-width: 767px)
{
  .table-responsive {
    width: 100%;
    margin-bottom: 15px;
    overflow-x: scroll;
    overflow-y: hidden;
    -webkit-overflow-scrolling: touch;
    -ms-overflow-style: -ms-autohiding-scrollbar;
    border: 1px solid #ddd;
  }
}
